name: 'Test'

on:
  push:
    branches:
      - '*'
      - '!master'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - name: Prepare dependencies
        run: sudo apt-get update && sudo apt-get install libboost-test-dev -y
      - name: Build binaries
        run: cmake --build . --target all
      - name: Create debian package
        run: |
          cmake --build . --target package
      - name: Run tests
        run: cmake --build . --target test
